body{
    background-color: snow;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center ;
    margin-left: 30px;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: 100;
    text-align: center;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    text-align: left;

}
img {
    border-radius: 13%;
}

.content{
    position: relative;
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: left;
}

.tab {
    text-align: center;
    background-color: grey;
    margin-top: 0;
    margin: auto;
    width: fit-content;
    border-radius: 5mm;
}
.tab  button{
    background-color: inherit;
    float: center; 
    border:none;
    outline:none;
    cursor:pointer;
    padding: 16px 18px;
    transition: 0.2s;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5mm;
    color: snow;
}
.tab button:hover {
    background-color: lightblue;
    font-size:28px;
}


.header {
    
    position:fixed;
    float: center;
    
}